@media (min-width: 100px) and (max-width: 399px) {
  html {
    font-size: 14px;
  }
  #nav .container {
    flex-wrap: wrap;
  }
  #nav .logo {
    width: 100%;
  }
  #nav .nav-bar {
    width: 100%;
  }
  #nav .nav-bar ul {
    flex-wrap: wrap;
    /*flex-direction: column;*/
  }
  #nav .mode {
    padding-left: 10px;
    margin: auto;
  }


  #home {
    padding-top: 150px;
    height: 160vh;
  }
  #home .about-content {
    width: 100%;
  }
  #home .photo {
    width: 100%;
    order: -1;
  }

  #home .container {
    flex-wrap: wrap;
  }
  #home .about-content .button-grp .btn2 .icon-video {
    background-color: white;
    width: 2rem;
    height: 2rem;

    color: black;
    display: flex;
  }
  #home .about-content .button-grp .icon-vip::before {
    top: 11%;
    left: -8%;
    height: 28px;
    width: 51px;
  }
  #home .about-content .button-grp .icon-video {
    left: -6px;
    top: -6px;
  }
  #chefs .chef-items {
    flex-wrap: wrap;
    display: flex;
  }
  #chefs .chef-item {
    width: 95%;
    padding-bottom: 50px;
    margin-bottom: 50px;
  }
  #chefs .chef-item:hover .chef-layer {
    top: 8%;
    left: 80%;
  }
  #chefs .chef-item .chef-photo::before {
    bottom: 176.5px;
    height: 5rem;
  }
  #chefs .chef-item .chef-about h3 {
    padding-top: 15px;
  }
  #gallery .container .gallery-content {
    display: flex;

    flex-direction: column;
  }
  #gallery .container .gallery-content .section {
    width: 100%;
    height: 100%;
    align-content: space-between;
  }
  #gallery .container .gallery-content .pizza {
    height: 100%;
  }

  #contact .contact-items .item-contact {
    width: 100%;
  }
  #contact .contact-details .input-grp {
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
  }
  #contact .contact-details .input-grp input {
    width: 100%;
  }
  #contact .contact-details .btn {
    width: 30%;
  }
  #footer .container {
    display: flex;
    flex-wrap: wrap;
  }
  #footer .footer-social {
    width: 100%;
    padding-bottom: 30px;
  }
  #footer .footer-subscribe {
    width: 100%;

    padding-bottom: 30px;
  }
  #footer .footer-address {
    width: 100%;
  }
}
@media (min-width: 400px) and (max-width: 767px) {
  html {
    font-size: 14px;
  }
  #nav .container {
    flex-wrap: wrap;
  }
  #nav .logo {
    width: 100%;
  }
  #nav .nav-bar {
    width: 100%;
  }
  #nav .nav-bar ul {
    flex-wrap: wrap;
    /*flex-direction: column;*/
  }
  #nav .mode {
    padding-left: 10px;
    margin: auto;
  }

  #home {
    padding-top: 150px;
    height: 145vh;
  }
  #home .about-content {
    width: 100%;
  }
  #home .photo {
    width: 100%;
    order: -1;
  }

  #home .container {
    flex-wrap: wrap;
  }
  #home .about-content .button-grp .btn2 .icon-video {
    background-color: white;
    width: 2rem;
    height: 2rem;

    color: black;
    display: flex;
  }
  #home .about-content .button-grp .icon-vip::before {
    top: 11%;
    left: -8%;
    height: 28px;
    width: 51px;
  }
  #chefs .chef-items {
    flex-wrap: wrap;
    display: flex;
  }
  #chefs .chef-item {
    width: 95%;
    padding-bottom: 50px;
    margin-bottom: 50px;
  }
  #chefs .chef-item:hover .chef-layer {
    top: 8%;
    left: 80%;
  }
  #chefs .chef-item .chef-photo::before {
    bottom: 146.5px;
    height: 5rem;
  }
  #chefs .chef-item .chef-about h3 {
    padding-top: 15px;
  }
  #gallery .container .gallery-content {
    display: flex;

    flex-direction: column;
  }
  #gallery .container .gallery-content .section {
    width: 100%;
    height: 100%;
    align-content: space-between;
  }
  #gallery .container .gallery-content .pizza {
    height: 100%;
  }

  #contact .contact-items .item-contact {
    width: 100%;
  }
  #contact .contact-details .input-grp {
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
  }
  #contact .contact-details .input-grp input {
    width: 100%;
  }
  #contact .contact-details .btn {
    width: 30%;
  }
  #footer .container {
    display: flex;
    flex-wrap: wrap;
  }
  #footer .footer-social {
    width: 100%;
    padding-bottom: 30px;
  }
  #footer .footer-subscribe {
    width: 100%;

    padding-bottom: 30px;
  }
  #footer .footer-address {
    width: 100%;
  }
}
/****************************************************************************************************************************/
@media (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 14px;
  }
  #nav .container {
    flex-wrap: wrap;
  }
  #nav .logo {
    width: 100%;
  }
  #nav .nav-bar {
    width: 100%;
  }
  #nav .nav-bar ul {
    flex-wrap: wrap;
  }
  #nav .mode {
    margin: auto;
    text-align: center;
  }

  #home {
    padding-top: 150px;
    height: 180vh;
  }
  #home .about-content {
    width: 100%;
  }
  #home .photo {
    width: 100%;
    order: -1;
  }
 
  #home .container {
    flex-wrap: wrap;
  }
  #home .about-content .button-grp .btn2 .icon-video {
    background-color: white;
    width: 2rem;
    height: 2rem;

    color: black;
    display: flex;
  }
  #home .about-content .button-grp .icon-vip::before {
    top: 14%;
    left: -7%;
    height: 23px;
    width: 50px;
  }
  #chefs .chef-items {
    flex-wrap: wrap;
    justify-content: flex-start;

    display: flex;
  }
  #chefs .chef-item {
    width: 40%;
    padding-bottom: 50px;
    margin-left: 20px;
    margin-top: 15px;
  }
  #chefs .chef-item:hover .chef-layer {
    top: 8%;
    left: 80%;
  }

  #chefs .chef-item .chef-photo::before {
    bottom: 167.5px;
  }
  #gallery .container .gallery-content {
    display: flex;

    flex-direction: row;
    flex-wrap: nowrap;
    align-content: baseline;
    justify-content: space-around;
    height: 80%;
  }

  #gallery .container .gallery-content .section {
    width: 49%;
    height: 80%;
    height: inherit;
  }
  #gallery .container .gallery-content .pizza {
    height: inherit;
  }

  #contact .contact-items .item-contact {
    width: 49%;
  }
  #contact .contact-details .input-grp {
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
  }
  #contact .contact-details .input-grp input {
    width: 49%;
  }
  #contact .contact-details .btn {
    width: 30%;
  }
  #footer .container {
    display: flex;
    flex-wrap: wrap;
  }
  #footer .footer-social {
    width: 48%;
  }
  #footer .footer-subscribe {
    width: 100%;

    order: 10;
    padding-top: 40px;
  }
  #footer .footer-address {
    width: 48%;
  }
}
/*******************************************************************************************************************************/
@media (min-width: 992px) and (max-width: 1070px) {
  html {
    font-size: 14px;
  }
  #nav .container {
    flex-wrap: wrap;
  }
  #nav .logo {
    width: 100%;
  }
  #nav .nav-bar {
    width: 100%;
  }
  #nav .nav-bar ul {
    flex-wrap: wrap;
  }
  #nav .mode {
    margin: auto;
    text-align: center;
  }
  #home {
    padding-top: 300px;
    height: 200vh;
  }
  #home .about-content {
    width: 100%;
  }
  #home .photo {
    width: 100%;
    order: -1;
  }
  @keyframes move-photo {
    0% {
      transform: translate(0.1px);
    }

    50% {
      transform: translateY(0.2px);
    }

    100% {
      transform: translate(0.2px);
    }
  }

  #home .container {
    flex-wrap: wrap;
  }
  #home .about-content .button-grp .btn2 .icon-video {
    width: 2rem;
    height: 2rem;

    display: flex;
  }
  #home .about-content .button-grp .icon-vip::before {
    top: 14%;
    left: -5%;
    height: 23px;
    width: 50px;
  }
  #chefs .chef-items {
    flex-wrap: wrap;
    justify-content: flex-start;

    display: flex;
  }
  #chefs .chef-item {
    width: 40%;
    padding-bottom: 50px;
    margin-left: 20px;
    margin-top: 15px;
  }

  #chefs .chef-item .chef-photo::before {
    bottom: 165.5px;
  }
  #gallery .container .gallery-content {
    display: flex;

    flex-direction: row;
    flex-wrap: nowrap;
    align-content: baseline;
    justify-content: space-around;
    height: 80%;
  }

  #gallery .container .gallery-content .section {
    width: 49%;
    height: 80%;
    height: inherit;
  }
  #gallery .container .gallery-content .pizza {
    height: inherit;
  }

  #contact .contact-items .item-contact {
    width: 49%;
  }
  #contact .contact-details .input-grp {
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
  }
  #contact .contact-details .input-grp input {
    width: 49%;
  }
  #contact .contact-details .btn {
    width: 30%;
  }
}

/********************************************************************************************************************************/
@media (min-width: 1071px) and (max-width: 1300px) {
  html {
    font-size: 14px;
  }
  #nav .container {
    flex-wrap: wrap;
  }
  #nav .logo {
    width: 100%;
  }
  #nav .nav-bar {
    width: 100%;
  }
  #nav .nav-bar ul {
    flex-wrap: wrap;
  }
  #nav .mode {
    margin: auto;
    text-align: center;
  }
  #home {
    padding-top: 300px;
    height: 280vh;
  }
  #home .about-content {
    width: 100%;
  }
  #home .photo {
    width: 100%;
    order: -1;
  }
  @keyframes move-photo {
    0% {
      transform: translate(-1px);
    }
    25% {
      transform: translateY(1px);
    }
    49% {
      transform: translate(-1px);
    }
    50% {
      transform: translateY(1px);
    }
    75% {
      transform: translate(-1px);
    }
    99% {
      transform: translateY(-1px);
    }
    100% {
      transform: translate(1px);
    }
  }

  #home .container {
    flex-wrap: wrap;
  }
  #home .about-content .button-grp .btn2 .icon-video {
    background-color: white;
    width: 2rem;
    height: 2rem;

    color: black;
    display: flex;
  }
  #home .about-content .button-grp .icon-vip::before {
    top: 14%;
    left: -5%;
    height: 23px;
    width: 50px;
  }
  #chefs .chef-items {
    flex-wrap: wrap;
    justify-content: flex-start;

    display: flex;
  }
  #chefs .chef-item {
    width: 40%;
    padding-bottom: 50px;
    margin-left: 20px;
    margin-top: 15px;
  }

  #chefs .chef-item .chef-photo::before {
    bottom: 157.5px;
  }
  #gallery .container .gallery-content {
    display: flex;

    flex-direction: row;
    flex-wrap: nowrap;
    align-content: baseline;
    justify-content: space-around;
    height: 80%;
  }

  #gallery .container .gallery-content .section {
    width: 49%;
    height: 80%;
    height: inherit;
  }
  #gallery .container .gallery-content .pizza {
    height: inherit;
  }

  #contact .contact-items .item-contact {
    width: 49%;
  }
  #contact .contact-details .input-grp {
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
  }
  #contact .contact-details .input-grp input {
    width: 49%;
  }
  #contact .contact-details .btn {
    width: 30%;
  }
}
